# 读写文件

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel('stu1excel.xlsx')      #直接导入Excel表格
df1=pd.read_csv('stu-8.csv',sep='\t')             #导入csv(UTF-8)格式(.csv默认分隔符是逗号)
df2=pd.read_csv('stu-88.csv',sep='\t')            #导入csv(UTF-8)格式，但是前两行是嵌套表格

In [3]:
df

   序号   院系          学号   姓名 培养层次 奖学金等级    入选理由
0   1  数科院  2150501009   李镛   博士    一等  科研成果丰富
1   2  数科院  2150501017  徐金秋   博士    一等  科研成果丰富
2   3  数科院  2160501012   王营   博士    一等  科研成果丰富
3   4  数科院  2160501015  杨龙妹   博士    一等  科研成果丰富
4   5  数科院  2160501020  邓小娟   博士    一等  科研成果丰富
5   6  数科院  2170501015   廖军   博士    一等  科研成果丰富

In [4]:
print(df.index)
print(df.columns)

RangeIndex(start=0, stop=6, step=1)
Index(['序号', '院系', '学号', '姓名', '培养层次', '奖学金等级', '入选理由'], dtype='object')

In [5]:
df1

   序号   院系          学号   姓名 培养层次 奖学金等级    入选理由
0   1  数科院  2150501009   李镛   博士    一等  科研成果丰富
1   2  数科院  2150501017  徐金秋   博士    一等  科研成果丰富
2   3  数科院  2160501012   王营   博士    一等  科研成果丰富
3   4  数科院  2160501015  杨龙妹   博士    一等  科研成果丰富
4   5  数科院  2160501020  邓小娟   博士    一等  科研成果丰富
5   6  数科院  2170501015   廖军   博士    一等  科研成果丰富

In [6]:
#x修改原文本中的不恰当格式
#!sed -i -e 's/"//g;1,2d' stu-88.csv 
#!sed -i 's/"//g' stu-8.csv

In [7]:
print(df1.index)
print(df1.columns)

RangeIndex(start=0, stop=6, step=1)
Index(['序号', '院系', '学号', '姓名', '培养层次', '奖学金等级', '入选理由'], dtype='object')

In [8]:
!cat stu-88.csv

In [9]:
df2

   序号   院系          学号   姓名 培养层次 奖学金等级    入选理由
0   1  数科院  2150501009   李镛   博士    一等  科研成果丰富
1   2  数科院  2150501017  徐金秋   博士    一等  科研成果丰富
2   3  数科院  2160501012   王营   博士    一等  科研成果丰富
3   4  数科院  2160501015  杨龙妹   博士    一等  科研成果丰富

嵌套表格不能识别列标（避免使用）

In [14]:
df2.columns

Index(['序号', '院系', '学号', '姓名', '培养层次', '奖学金等级', '入选理由'], dtype='object')

In [15]:
df2.index

RangeIndex(start=0, stop=4, step=1)

pickle是一种适用于python的二进制数据类型（便于传输）
将数据保存

In [16]:
df.to_pickle("data1")
df.to_excel("Linux.xlsx")              #保存为Excel格式

In [17]:
df3=pd.read_pickle('data1')

In [18]:
df3

   序号   院系          学号   姓名 培养层次 奖学金等级    入选理由
0   1  数科院  2150501009   李镛   博士    一等  科研成果丰富
1   2  数科院  2150501017  徐金秋   博士    一等  科研成果丰富
2   3  数科院  2160501012   王营   博士    一等  科研成果丰富
3   4  数科院  2160501015  杨龙妹   博士    一等  科研成果丰富
4   5  数科院  2160501020  邓小娟   博士    一等  科研成果丰富
5   6  数科院  2170501015   廖军   博士    一等  科研成果丰富