In [12]:
import numpy as np
import pandas as pd

In [13]:
data={'state':['ohio','ohio','ohio','nevada','nevada'],
        'year':[2000,2001,2002,2001,2002],
         'pop':[1.5,1.7,3.6,2.4,2.9]}
frame=pd.DataFrame(data)
print(frame)
#行index没有指定时会用默认值，列有序排序

    state  year  pop
0    ohio  2000  1.5
1    ohio  2001  1.7
2    ohio  2002  3.6
3  nevada  2001  2.4
4  nevada  2002  2.9

In [14]:
#指定列的排序
frame=pd.DataFrame(data,columns=['year','state','pop'])
print(frame)

   year   state  pop
0  2000    ohio  1.5
1  2001    ohio  1.7
2  2002    ohio  3.6
3  2001  nevada  2.4
4  2002  nevada  2.9

In [15]:
#指定行（找不到的数据默认为NaN）
frame2=pd.DataFrame(data,columns=['year','state','pop','debt'],index=['one','two','three','four','five'])
print(frame2)
print("\nvalues:\n",frame2.values)
print("\ncolumns:\n",frame2.columns)
print("\nindex:\n",frame2.index)
print("\ndtypes:\n",frame2.dtypes)

       year   state  pop debt
one    2000    ohio  1.5  NaN
two    2001    ohio  1.7  NaN
three  2002    ohio  3.6  NaN
four   2001  nevada  2.4  NaN
five   2002  nevada  2.9  NaN

values:
 [[2000 'ohio' 1.5 nan]
 [2001 'ohio' 1.7 nan]
 [2002 'ohio' 3.6 nan]
 [2001 'nevada' 2.4 nan]
 [2002 'nevada' 2.9 nan]]

columns:
 Index(['year', 'state', 'pop', 'debt'], dtype='object')

index:
 Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

dtypes:
 year       int64
state     object
pop      float64
debt      object
dtype: object

In [16]:
#查询列（属性）的方式
print("year:\n",frame2.year)
print("\nstate:\n",frame2['state'])
#注意他的name属性也设置好了
#两种设置方法的区别在于frame.XXX即可以修改也可以在没有的情况下添加；frame['XXX']只能修改现有值

year:
 one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64

state:
 one        ohio
two        ohio
three      ohio
four     nevada
five     nevada
Name: state, dtype: object

In [17]:
#按行（index）查询数据
print(frame2.loc['one'])

year     2000
state    ohio
pop       1.5
debt      NaN
Name: one, dtype: object

In [19]:
#给列赋值(给一整列赋相同的值)
frame2['debt']=16.5
print(frame2)
#给一列赋不同的值
frame2['debt']=np.arange(5)
print(frame2)
frame2['debt']=[2,4,6,8,10]
print(frame2)

       year   state  pop  debt
one    2000    ohio  1.5  16.5
two    2001    ohio  1.7  16.5
three  2002    ohio  3.6  16.5
four   2001  nevada  2.4  16.5
five   2002  nevada  2.9  16.5
       year   state  pop  debt
one    2000    ohio  1.5     0
two    2001    ohio  1.7     1
three  2002    ohio  3.6     2
four   2001  nevada  2.4     3
five   2002  nevada  2.9     4
       year   state  pop  debt
one    2000    ohio  1.5     2
two    2001    ohio  1.7     4
three  2002    ohio  3.6     6
four   2001  nevada  2.4     8
five   2002  nevada  2.9    10

In [20]:
#给Frame添加一列，用Series会自动匹配index
#一次性对全部的列赋值，之前的值全部舍弃，没有的值（即便之前有值）记为NaN
val=pd.Series([-1.2,-1.5,-1.7],index=['two','four','five'])
frame2.debt=val
frame2['ddd']=val
print(frame2)

       year   state  pop  debt  ddd
one    2000    ohio  1.5   NaN  NaN
two    2001    ohio  1.7  -1.2 -1.2
three  2002    ohio  3.6   NaN  NaN
four   2001  nevada  2.4  -1.5 -1.5
five   2002  nevada  2.9  -1.7 -1.7

In [22]:
frame2.fillna({'debt':111,'ddd':222})

       year   state  pop   debt    ddd
one    2000    ohio  1.5  111.0  222.0
two    2001    ohio  1.7   -1.2   -1.2
three  2002    ohio  3.6  111.0  222.0
four   2001  nevada  2.4   -1.5   -1.5
five   2002  nevada  2.9   -1.7   -1.7

In [24]:
#还可以如下方式添加列（属性）
frame2['eastern']=frame2.state=='ohio'
print(frame2)

       year   state  pop  debt  ddd  eastern
one    2000    ohio  1.5   NaN  NaN     True
two    2001    ohio  1.7  -1.2 -1.2     True
three  2002    ohio  3.6   NaN  NaN     True
four   2001  nevada  2.4  -1.5 -1.5    False
five   2002  nevada  2.9  -1.7 -1.7    False

In [26]:
frame2['eastern']=[i in [2000,2002] for i in frame2.year]
frame2

       year   state  pop  debt  ddd  eastern
one    2000    ohio  1.5   NaN  NaN     True
two    2001    ohio  1.7  -1.2 -1.2    False
three  2002    ohio  3.6   NaN  NaN     True
four   2001  nevada  2.4  -1.5 -1.5    False
five   2002  nevada  2.9  -1.7 -1.7     True

In [27]:
#删除一列（属性）del(原地修改)
del frame2['eastern']
print(frame2)

       year   state  pop  debt  ddd
one    2000    ohio  1.5   NaN  NaN
two    2001    ohio  1.7  -1.2 -1.2
three  2002    ohio  3.6   NaN  NaN
four   2001  nevada  2.4  -1.5 -1.5
five   2002  nevada  2.9  -1.7 -1.7

In [28]:
#用嵌套字典创建DataFrame
#外字典的键作为列标（columus）,内字典的键作为行索引
pop={'nevada':{2001:2.4,2002:2.9},'ohio':{2000:1.5,2001:1.7,2002:3.6}}
frame3=pd.DataFrame(pop)
print(frame3)

      nevada  ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [29]:
#用已有的DataFrame的Series创建新的DateFrame
pdata={'ohio':frame3.ohio[:-1],'nevada':frame3.nevada[:2]}
frame4=pd.DataFrame(pdata)
print(frame4)

      ohio  nevada
2000   1.5     NaN
2001   1.7     2.4

In [30]:
#用numpy的矩阵创建DataFrame
df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)),columns=['a', 'b', 'c', 'd', 'e'])
print("指定列标：")
print(df2)
df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)),columns=['a', 'b', 'c', 'd', 'e'],index=[2,4,6,8,10])
print("指定行标及列标:")
print(df2)

指定列标：
   a  b  c  d  e
0  1  5  3  0  9
1  1  6  1  7  7
2  7  3  6  3  8
3  7  4  1  5  4
4  0  9  5  5  8
指定行标及列标:
    a  b  c  d  e
2   6  1  2  4  6
4   6  1  2  6  6
6   5  1  9  7  6
8   8  3  1  3  6
10  2  7  5  5  8

In [31]:
#DataFrame的index不可随意更改
#.index可以对整体进行修改，不能修改个别
df2.index=[1,2,3,4,5]
print(df2)
print(df2.index)
try:
    df2.index[2]=11
except TypeError as e:
    print("Error:\n",e)
print(df2.index)
#将.index赋值给其他变量是则任何操作都无法修改
ind=df2.index
print(ind)
print("ind is df2.index:",ind is df2.index)
try:
    ind[2]=22
except Exception as e:
    print("Error:\n",e)
print(ind[2])
ind=[1,2,3,4,5]
print("ind is df2.index:",ind is df2.index)
print(ind)
print(df2.index)

   a  b  c  d  e
1  6  1  2  4  6
2  6  1  2  6  6
3  5  1  9  7  6
4  8  3  1  3  6
5  2  7  5  5  8
Int64Index([1, 2, 3, 4, 5], dtype='int64')
Error:
 Index does not support mutable operations
Int64Index([1, 2, 3, 4, 5], dtype='int64')
Int64Index([1, 2, 3, 4, 5], dtype='int64')
ind is df2.index: True
Error:
 Index does not support mutable operations
3
ind is df2.index: False
[1, 2, 3, 4, 5]
Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [32]:
#行列对调（对原数据都没有影响）
print(frame3.transpose())
print(frame3.T)

        2000  2001  2002
nevada   NaN   2.4   2.9
ohio     1.5   1.7   3.6
        2000  2001  2002
nevada   NaN   2.4   2.9
ohio     1.5   1.7   3.6

In [33]:
#in
print(df2)
print('a' in df2.columns)
print(6 in df2.index)
print(0 in df2.values)
print('a' in df2)

   a  b  c  d  e
1  6  1  2  4  6
2  6  1  2  6  6
3  5  1  9  7  6
4  8  3  1  3  6
5  2  7  5  5  8
True
False
False
True