In [1]:
import numpy as np
import pandas as pd

In [9]:
df=pd.DataFrame(np.random.randint(0,10,size=20).reshape((4,5)),columns=['d','c','e','a','b'],index=[2,1,0,3])
df

   d  c  e  a  b
2  2  3  3  1  7
1  6  8  3  1  3
0  1  3  1  7  2
3  8  8  0  3  1

In [10]:
df.sort_index()

   d  c  e  a  b
0  1  3  1  7  2
1  6  8  3  1  3
2  2  3  3  1  7
3  8  8  0  3  1

In [15]:
df.sort_index(ascending=False)

   d  c  e  a  b
3  8  8  0  3  1
2  2  3  3  1  7
1  6  8  3  1  3
0  1  3  1  7  2

In [17]:
#对列排序
#所有排序操作不改变原来的DataFrame
df.sort_index(axis=1)

   a  b  c  d  e
2  1  7  3  2  3
1  1  3  8  6  3
0  7  2  3  1  1
3  3  1  8  8  0

In [14]:
df.sort_values(by='a')

   d  c  e  a  b
2  2  3  3  1  7
1  6  8  3  1  3
3  8  8  0  3  1
0  1  3  1  7  2

In [20]:
df.sort_values(by=['a','b'])

   d  c  e  a  b
1  6  8  3  1  3
2  2  3  3  1  7
3  8  8  0  3  1
0  1  3  1  7  2

In [22]:
#返回排序中的位置rank
s=pd.Series(np.random.randint(0,6,size=8))
s

0    2
1    3
2    2
3    0
4    1
5    2
6    5
7    2
dtype: int64

In [23]:
#出现.5表示有多个一样的值（结果为浮点数，从1开始）(默认model='average')
s.rank()

0    4.5
1    7.0
2    4.5
3    1.0
4    2.0
5    4.5
6    8.0
7    4.5
dtype: float64

In [24]:
#也可以直接给出排名（结果为整数，从1开始）(相同值的按原来顺序排，类似于稳定排序)
s.rank(method='first')

0    3.0
1    7.0
2    4.0
3    1.0
4    2.0
5    5.0
6    8.0
7    6.0
dtype: float64

In [26]:
#相同组（值一样的）取组的最大值
s.rank(method='max')

0    6.0
1    7.0
2    6.0
3    1.0
4    2.0
5    6.0
6    8.0
7    6.0
dtype: float64

In [27]:
#相同组（值一样的）取组的最小值
s.rank(method='min')

0    3.0
1    7.0
2    3.0
3    1.0
4    2.0
5    3.0
6    8.0
7    3.0
dtype: float64

In [30]:
#对DataFrame同样适用
df=pd.DataFrame(np.random.randint(0,6,size=30).reshape((5,6)),columns=['a','b','c','d','e','f'],index=['one','two','three','four','five'])
df

       a  b  c  d  e  f
one    3  1  2  0  4  4
two    5  5  3  3  2  3
three  2  1  5  0  2  2
four   4  2  2  4  4  3
five   3  0  3  2  4  1

In [31]:
#默认对同一列的值排序（axis=0）,method='average'
df.rank()

         a    b    c    d    e    f
one    2.5  2.5  1.5  1.5  4.0  5.0
two    5.0  5.0  3.5  4.0  1.5  3.5
three  1.0  2.5  5.0  1.5  1.5  2.0
four   4.0  4.0  1.5  5.0  4.0  3.5
five   2.5  1.0  3.5  3.0  4.0  1.0

In [35]:
#同样可以对行排序，指定同组取最小
df.rank(axis=1,method='min')

         a    b    c    d    e    f
one    4.0  2.0  3.0  1.0  5.0  5.0
two    5.0  5.0  2.0  2.0  1.0  2.0
three  3.0  2.0  6.0  1.0  3.0  3.0
four   4.0  1.0  1.0  4.0  4.0  3.0
five   4.0  1.0  4.0  3.0  6.0  2.0