In [30]:
import pandas as pd
import numpy as np

In [31]:
obj=pd.Series([4,7,-5,3])
print(obj)                    #没有指定键时，以0-(N-1)作为默认键
print("values\n",obj.values)
print("index:\n",obj.index)

0    4
1    7
2   -5
3    3
dtype: int64
values
 [ 4  7 -5  3]
index:
 RangeIndex(start=0, stop=4, step=1)

In [32]:
#指定index
obj=pd.Series([4,7,-5,3],index=['d','b','a','c'])
print(obj)
print("values\n",obj.values)
print("index:\n",obj.index)

d    4
b    7
a   -5
c    3
dtype: int64
values
 [ 4  7 -5  3]
index:
 Index(['d', 'b', 'a', 'c'], dtype='object')

In [33]:
obj.sort_index()

a   -5
b    7
c    3
d    4
dtype: int64

In [34]:
obj

d    4
b    7
a   -5
c    3
dtype: int64

In [35]:
#选取单个或多个值
print(obj['a'])
print(obj[['c','a','d']])

-5
c    3
a   -5
d    4
dtype: int64

In [36]:
#in
print('a' in obj)
print('e' in obj)

True
False

In [37]:
#字典创建Series
sdata={'ohio':34000,'texas':71000,'oregon':16000,'utah':5000}
obj=pd.Series(sdata)
print(obj)

ohio      34000
texas     71000
oregon    16000
utah       5000
dtype: int64

In [38]:
#用字典和索引创建Series
#按照index的顺序排序，字典中存在但不在index中的被舍弃，
#index中存在字典中没有的被添加，并设默认值为NaN
states=['claifornia','ohio','oregon','texas']
obj1=pd.Series(sdata,states)
print(obj1)

claifornia        NaN
ohio          34000.0
oregon        16000.0
texas         71000.0
dtype: float64

In [40]:
#判断是否有确实数据（NaN为确实数据）
print(obj1.isnull())
obj1.notnull()

claifornia     True
ohio          False
oregon        False
texas         False
dtype: bool

claifornia    False
ohio           True
oregon         True
texas          True
dtype: bool

In [10]:
#Series相加（index相同的值相加，若其中一个为NaN，则加的结果还是NaN）
#Series1中存在Series2中不存在的键值对，其加的结果也是NaN
print('obj:',obj)
print('\nobj1:\n',obj1)
print('\nobj=obj1:\n',obj+obj1)

obj: ohio      34000
texas     71000
oregon    16000
utah       5000
dtype: int64

obj1:
 claifornia        NaN
ohio          34000.0
oregon        16000.0
texas         71000.0
dtype: float64

obj=obj1:
 claifornia         NaN
ohio           68000.0
oregon         32000.0
texas         142000.0
utah               NaN
dtype: float64

In [41]:
obj1.fillna(0)                              #设置默认缺失值

claifornia        0.0
ohio          34000.0
oregon        16000.0
texas         71000.0
dtype: float64

In [11]:
#定义Series的name属性
obj.name='population'
print(obj)

ohio      34000
texas     71000
oregon    16000
utah       5000
Name: population, dtype: int64

In [12]:
#Series的索引修改（原地修改）
obj.index=['aa','bb','cc','dd']
print(obj)

aa    34000
bb    71000
cc    16000
dd     5000
Name: population, dtype: int64

In [13]:
#对已有的序列重新排序reindex
obj.reindex(['dd','cc','bb','aa'])

dd     5000
cc    16000
bb    71000
aa    34000
Name: population, dtype: int64

In [16]:
#reindex不改变原来的DataFrame
obj

aa    34000
bb    71000
cc    16000
dd     5000
Name: population, dtype: int64

In [14]:
#对没有的值默认以NaN填充
obj.reindex(['dd','cc','bb','aa','ee'])

dd     5000.0
cc    16000.0
bb    71000.0
aa    34000.0
ee        NaN
Name: population, dtype: float64

In [15]:
#也可以指定默认值
obj.reindex(['dd','cc','bb','aa','ee'],fill_value=0)

dd     5000
cc    16000
bb    71000
aa    34000
ee        0
Name: population, dtype: int64

In [18]:
#对列也可以重新排序
obj=pd.DataFrame(np.arange(20).reshape((4,5)),columns=['a','b','c','d','e'])
obj

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [19]:
obj.reindex(columns=['c','a','d','b','f'])

    c   a   d   b   f
0   2   0   3   1 NaN
1   7   5   8   6 NaN
2  12  10  13  11 NaN
3  17  15  18  16 NaN

In [24]:
#当然还能两个坐标同时做
obj.reindex(columns=['c','a','d','b','f'],index=[0,2,4],fill_value=123)

     c    a    d    b    f
0    2    0    3    1  123
2   12   10   13   11  123
4  123  123  123  123  123

In [25]:
obj

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19